<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

</head>
<body>
    <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">All <span>Projects</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Project 1</h1>
            <h2><a href="https://github.com/Pranjalnikum/weatherweb.github.io">Weather Website</a></h2>
            <p>You can use HTML, CSS, javascript to
              create a simple but effective weather website
              that highlights your strengths and
              interests..</p>
          </div>
          <div class="project-img">
            <img src="./images/weather.png" alt="img">
          </div>
        </div>

        <div class="project-item">
            <div class="project-info">
              <h1>Project 2</h1>
              <h2><a href=" https://github.com/Pranjalnikum/contactForm.io" >Contact Form</a></h2>
              <p>Contact form allows users to submit
                  their information and send messages
                  directly from your website. You can use
                  plugin or create a custom form using
                  HTML and CSS.</p>
            </div>
            <div class="project-img">
              <img src="./images/img2.png" alt="img">
            </div>
        </div>

        <div class="project-item">
            <div class="project-info">
              <h1>Project 3</h1>
              <h2><a href="https://github.com/Pranjalnikum/coundowntimer">Coundown Timer</a></h2>
              <p>You can use HTML, CSS, javascript to
                create a simple Coundown timer website
                that highlights your strengths and
                interests.</p>
            </div>
            <div class="project-img">
              <img src="./images/img3.png" alt="img">
            </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Projects Section

</body>
</html>